body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: #626262;
  position: relative;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}



footer {
  margin-top: auto;
}
